spring:
  profiles:
    active:
    - dev
---
spring: 
  profiles: dev
  application:
    name: microservicecloud-config-myword-dev
---
spring:
  profiles: test
  application: 
    name: microservicecloud-config-myworld-test        